{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "indent": ["error", 4],
    "@typescript-eslint/indent": ["error", 4],
    "comma-dangle": ["error", "never"],
    "@typescript-eslint/semi": ["error", "never"]
  }
}
